In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [1]:
df = pd.read_csv("")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (Temp/ipykernel_1420/535475507.py, line 1)

In [20]:
df.tail

<bound method NDFrame.tail of      PassengerId  Survived  Pclass         Lname  \
0              1         0       3        Braund
1              2         1       1       Cumings
2              3         1       3     Heikkinen
3              4         1       1      Futrelle
4              5         0       3         Allen
..           ...       ...     ...           ...
151          152         1       1         Pears
152          153         0       3           Meo
153          154         0       3  van Billiard
154          155         0       3         Olsen
155          156         0       1      Williams

                                            Name     Sex   Age  SibSp  Parch  \
0                                Mr. Owen Harris    male  22.0      1      0
1     Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1      0
2                                    Miss. Laina  female  26.0      0      0
3             Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0
4                              Mr. William Henry    male  35.0      0      0
..                                           ...     ...   ...    ...    ...
151                   Mrs. Thomas (Edith Wearne)  female  22.0      1      0
152                                  Mr. Alfonzo    male  55.5      0      0
153                            Mr. Austin Blyler    male  40.5      0      2
154                               Mr. Ole Martin    male   NaN      0      0
155                            Mr. Charles Duane    male  51.0      0      1

               Ticket     Fare Cabin Embarked
0           A/5 21171   7.2500   NaN        S
1            PC 17599  71.2833   C85        C
2    STON/O2. 3101282   7.9250   NaN        S
3              113803  53.1000  C123        S
4              373450   8.0500   NaN        S
..                ...      ...   ...      ...
151            113776  66.6000    C2        S
152        A.5. 11206   8.0500   NaN        S
153          A/5. 851  14.5000   NaN        S
154         Fa 265302   7.3125   NaN        S
155          PC 17597  61.3792   NaN        C

[156 rows x 13 columns]>